.header-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  width: 500px;
}

.header-context {
  display: flex;
  margin-right: 10px;
}
